<%= form_with(model: hostel, local: true) do |form| %>
  <% if hostel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hostel.errors.count, "error") %> prohibited this hostel from being saved:</h2>

      <ul>
      <% hostel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :h_name %>
    <%= form.text_field :h_name, id: :hostel_h_name %>
  </div>

  <div class="field">
    <%= form.label :h_address %>
    <%= form.text_area :h_address, id: :hostel_h_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
