<p id="notice"><%= notice %></p>

<h1>Hostels</h1>

<table>
  <thead>
    <tr>
      <th>H name</th>
      <th>H address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostels.each do |hostel| %>
      <tr>
        <td><%= hostel.h_name %></td>
        <td><%= hostel.h_address %></td>
        <td><%= link_to 'Show', hostel %></td>
        <td><%= link_to 'Edit', edit_hostel_path(hostel) %></td>
        <td><%= link_to 'Destroy', hostel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hostel', new_hostel_path %>
