<p id="notice"><%= notice %></p>

<p>
  <strong>H name:</strong>
  <%= @hostel.h_name %>
</p>

<p>
  <strong>H address:</strong>
  <%= @hostel.h_address %>
</p>

<%= link_to 'Edit', edit_hostel_path(@hostel) %> |
<%= link_to 'Back', hostels_path %>
